.story-header-text,
.questons-top-header-text {
  margin-top: 20px;
}
.story-header-text,
.questons-top-header-text,
.story-header-description {
  display: flex;
  justify-content: center;
}
.story-header-text > h5 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 500px;
}
.questons-top-header-text > h5 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 500px;
}
.story-header-description > h5 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 500px;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question-box-cont {
  width: 500px;
  text-align: center;
}
.start-button-section {
  text-align: -webkit-right;
  width: 100%;
}

.next-button-section {
  text-align: -webkit-center;
  width: 100%;
}
